In [1]:
import urllib.request
import json
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from pandas.io.json import json_normalize

In [11]:
    url ="http://apis.data.go.kr/B490007/qualAcquPtcond/getQualAcquPtcond?serviceKey=7fh9W60z5J0r%2BM%2FuoKIeOq9W4VCJuQ69uE%2BAzEkLNKmxTnRWeuPnOPB%2BxuaEhu6vFG3VVcoWRLu6QtdWrmn4wA%3D%3D&numOfRows=50&pageNo=1230&dataFormat=json&acquYy=2017&qualgbCd=T"
    response = urllib.request.urlopen(url)
    json_str = response.read().decode("utf-8")

    json_object = json.loads(json_str)
    json_object

    body = [json_object['body']['items']]

    df = json_normalize(json_object['body']['items'])
    df

,acquYy,acquMm,qualgbCd,qualgbNm,rgnCd,rgnNm,ageGrupCd,ageGrupNm,genderCd,genderNm,seriesCd,seriesNm,jmCd,jmNm,acquCnt
0,2017,12,T,국가기술자격,017,세종,6,60대,M,남성,04,기능사,7875,지게차운전기능사,1
1,2017,12,T,국가기술자격,999,지역미상,1,10대,M,남성,04,기능사,6042,기계가공조립기능사,1
2,2017,12,T,국가기술자격,999,지역미상,1,10대,M,남성,04,기능사,7914,복어조리기능사,1
3,2017,12,T,국가기술자격,999,지역미상,1,10대,M,남성,04,기능사,6837,설비보전기능사,1
4,2017,12,T,국가기술자격,999,지역미상,1,10대,M,남성,04,기능사,6223,용접기능사,1
5,2017,12,T,국가기술자격,999,지역미상,2,20대,M,남성,03,기사,2121,위험물산업기사,1
6,2017,12,T,국가기술자격,999,지역미상,2,20대,M,남성,04,기능사,6335,가스기능사,1
7,2017,12,T,국가기술자격,999,지역미상,2,20대,M,남성,04,기능사,7130,건축목공기능사,1
8,2017,12,T,국가기술자격,999,지역미상,2,20대,M,남성,04,기능사,6223,용접기능사,1
9,2017,12,T,국가기술자격,999,지역미상,2,20대,M,남성,04,기능사,6697,위험물기능사,1
10,2017,12,T,국가기술자격,999,지역미상,2,20대,M,남성,04,기능사,6281,자동차정비기능사,1
11,2017,12,T,국가기술자격,999,지역미상,2,20대,M,남성,04,기능사,6921,정보처리기능사,2
12,2017,12,T,국가기술자격,999,지역미상,2,20대,M,남성,04,기능사,7875,지게차운전기능사,1
13,2017,12,T,국가기술자격,999,지역미상,2,20대,M,남성,04,기능사,7474,침투비파괴검사기능사,1
14,2017,12,T,국가기술자격,999,지역미상,3,30대,M,남성,04,기능사,7180,도배기능사,1
15,2017,12,T,국가기술자격,999,지역미상,4,40대,F,여성,03,기사,2562,식물보호산업기사,1
16,2017,12,T,국가기술자격,999,지역미상,5,50대,M,남성,04,기능사,7866,로더운전기능사,1